html body {
  /* background-color: #01040F; */
  min-width: 400px;
}

.home-page {
  background-image: url(./assets/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  height: 700px;
  width:100%;
  filter: brightness(90%);
  overflow-y: scroll;
}

@media (max-width: 480px) {
}

/* Styles for screens between 481px and 768px wide (larger smartphones and small tablets) */
@media (min-width: 481px) and (max-width: 681px) {
}

/* Styles for screens between 682px and 760px wide */
@media (min-width: 682px) and (max-width: 760px) {
}

/* Styles for screens between 769px and 1024px wide (larger tablets and small desktops) */
@media (min-width: 761px) and (max-width: 1024px) {
}

/* Styles for screens 1025px and above (larger desktops) */
@media (min-width: 1025px) {
}
